services:
  db:
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql
    env_file:
      - ./database/.env
    ports:
    - 5432:5432
    networks:
      - app-network

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge